img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: ridge;
    border-color: black;
    z-index: -1;
    opacity: 0.65;
}

body{
    background-color: darkslategrey;
    position: relative; 
}

h1 {
    text-align: center;
    text-decoration: solid;
    color: mediumpurple;
}

h2 {
    text-anchor: start;
    text-align: center;
    color: whitesmoke;
    padding: 4px;
    margin-top: -10%
}

form {
    display: block;
    text-emphasis-position: above;
}

p {
    text-align: center;
    text-decoration: solid;
    color: mediumpurple;
    font-size: medium;
}

label {
    text-anchor: middle;
}

div {
    background-color: lightgrey;
    left: 50%;
    top: 60%;
    width: 80px;
    border: 15px solid mediumpurple;
    padding: 50px;
    position: absolute;
    display: inline-block;
    text-align: center;

}
.box {
    background-color: lightgrey;
    border: 15px solid mediumpurple;
    padding: 6px;
    margin: 2px;
    display: inline-block;
    margin-left: 40px; 
    text-align: center;
}