
.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}


body{
    width: 375px;
    height: auto;
    background-color: midnightblue;
}

.center {
    margin: auto;
    width: 50%;
    padding: 6px;
}

h1 {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
    margin: auto;
    position: relative;
    width: 100%;
    padding: 6px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-align: center;
    position: relative;
    color: whitesmoke;
    margin: auto;
    padding: 6px;
}

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslateblue;
    text-align: center;
}

.flex-container {
    padding: 6px;
    display: flex;
    flex-direction: column;
    background-color: lavender;
    width: 200px;

    align-items: center;
}

    .flex-container > div {
        background-color: lightcyan;
        width: 90px;
        margin: 10px;
        position: relative;
        text-align: center;
        border: 3px solid lightblue;
        line-height: 75px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
    }